#Difference Between List Tuples and Sets

In [28]:
lista = ['male','female','male','f','m','f']

In [2]:
listx = [1,2,3,4,5]

In [8]:
lista[-5:-1]

['female', 'male', 'f', 'm']

In [13]:
lista[0:3]

['male', 'female', 'male']

In [3]:
listx[-4:-1]

[2, 3, 4]

In [29]:
seta = set(lista)

In [30]:
seta

{'f', 'female', 'm', 'male'}

In [32]:
setb=set(['m','f'])

In [33]:
setb

{'f', 'm'}

In [34]:
seta - setb

{'female', 'male'}

In [14]:
lista.append(['female','male'])

In [15]:
print(seta)

NameError: name 'seta' is not defined

In [16]:
print(lista)

['male', 'female', 'male', 'f', 'm', 'f', ['female', 'male']]

In [20]:
lista[-1][1][3]

'e'

In [13]:
tupa = tuple(lista)

In [14]:
listd = list(tupa)

In [15]:
print(listd)

['male', 'female', 'male', 'f', 'm', 'f', ['female', 'male']]

In [16]:
print(tupa)

('male', 'female', 'male', 'f', 'm', 'f', ['female', 'male'])

In [17]:
print(tupa)

('male', 'female', 'male', 'f', 'm', 'f', ['female', 'male'])

In [18]:
tupa=('male','female')

In [19]:
print(tupa)

('male', 'female')

In [20]:
tupb = (1,2,3)
tupc = (3,4,5)

In [21]:
print(tupb,tupc)

(1, 2, 3) (3, 4, 5)

In [22]:
tupb+(9,)

(1, 2, 3, 9)

In [25]:
tupa[1]='male'

TypeError: 'tuple' object does not support item assignment

In [27]:
listx=list(tupa)

In [28]:
listx

['male', 'female']

In [29]:
listx[1]='male'

In [30]:
listx

['male', 'male']

In [21]:
print(lista)

['male', 'female', 'male', 'f', 'm', 'f', ['female', 'male']]

In [22]:
set(lista)

TypeError: unhashable type: 'list'

In [60]:
lista[-1][1][-1]

'e'

In [47]:
lista[1]='male'

In [49]:
lista[-1][1]='female'

In [50]:
print(lista)

['male', 'male', 'male', ['female'], 'female', ['female', 'female']]

In [63]:
listd = [lista,tupa,seta,2,'Defence']

In [64]:
print(listd)

[['male', 'male', 'male', 'female', ['female', 'male']], ('male', 'female'), {'female', 'male'}, 2, 'Defence']

In [65]:
print(listd[1][1])

female

In [ ]:
#Create a list of all your family members

In [ ]:
#Create a list of their ages

In [ ]:
#create  a loop which will return the statement that <Name> is <age> years old

In [2]:
family = ['Israr','Zahida','Abrar', 'Fariha', 'Aryan', 'Amayr']
relations = ['Grandfather','Grandmother','Husband','Wife','Son','Son']
Age = [68,68,33,29,4,2]

In [42]:
family.index('Abrar')

2

In [43]:
family2 = []
for i in family:
    family2.append(i.upper())

In [44]:
print(family2,family)

['ISRAR', 'ZAHIDA', 'ABRAR', 'FARIHA', 'ARYAN', 'AMAYR'] ['Israr', 'Zahida', 'Abrar', 'Fariha', 'Aryan', 'Amayr']

In [49]:

for i in range(len(family)):
    print(family[i]+" who is the "+relations[i]+" is "+ str(Age[i])+" yrs old.")

Israr who is the Grandfather is 68 yrs old.
Zahida who is the Grandmother is 68 yrs old.
Abrar who is the Husband is 33 yrs old.
Fariha who is the Wife is 29 yrs old.
Aryan who is the Son is 4 yrs old.
Amayr who is the Son is 2 yrs old.

In [7]:
def message_constructor(Name_list,Relation_list,Age_list):
    for i in range(len(Name_list)):
        print(Name_list[i]+" who is the "+Relation_list[i]+" is "+ str(Age_list[i])+" years old.")

In [49]:
message_constructor(family3,relation3,age3)

NameError: name 'message_constructor' is not defined

In [11]:
family3=['Asim','Ayesha']
relation3=['brother','sister']
age3=[35,33]

In [60]:
def multiply_num(**kwargs):
    return kwargs['int1']*kwargs['int2']

In [ ]:
multiply

In [65]:
multiply_num()

KeyError: 'int1'

In [44]:
a=multiply_num(3,2,4)

In [45]:
print(a)

24

In [46]:
def mod2(z,k=2):
    return z**k

In [14]:
def mod2p(z,k):
    print(z**k)

In [48]:
mod2(3,3)

27

In [16]:
mod2p(3,4)

81

In [20]:
a=mod2p(3,4)

81

In [21]:
print(a)

None

In [33]:
def mod3(number=z,power=k):
    return z**k

NameError: name 'z' is not defined

In [31]:
mod3(power=2,number=3)

NameError: name 'mod3' is not defined

In [68]:
message_constructor(family,relations,Age)

Israr who is the Grandfather is 68 years old.
Zahida who is the Grandmother is 68 years old.
Abrar who is the Husband is 33 years old.
Fariha who is the Wife is 29 years old.
Aryan who is the Son is 4 years old.
Amayr who is the Son is 2 years old.

In [67]:
message_constructor(family3,relation3,age3)

Asim who is the brother is 35 years old.
Ayesha who is the sister is 33 years old.

In [31]:
print(w)

6

In [35]:
family2=['Ahmed','Insiya','Saad']
relation2=['Father','Mother','Son']
Age2=[33,32,4]

In [37]:
print(set(relations))

{'Wife', 'Son', 'Husband', 'Grandfather', 'Grandmother'}

In [37]:
message_constructor(family2,relation2,Age2)

Ahmed who is the Father is 33 yrs old.
Insiya who is the Mother is 32 yrs old.
Saad who is the Son is 4 yrs old.

In [39]:
print(tuple(relations))

('Grandfather', 'Grandmother', 'Husband', 'Wife', 'Son', 'Son')

In [40]:
print(relations)

['Grandfather', 'Grandmother', 'Husband', 'Wife', 'Son', 'Son']

In [39]:
mod(4,3)

64

In [164]:
df=print(mod(4,5))

20

In [165]:
print(df)

None

In [166]:
df2=mod(3,4)

In [167]:
print(df2)

12

In [173]:
prod = lambda x: x**2

In [40]:
list1=[2,3,4]

In [41]:
prodlist = [x**2 for x in list1]

In [42]:
prodlist

[4, 9, 16]

In [43]:
prod(2)

NameError: name 'prod' is not defined

In [43]:
prod(16)

256

In [44]:
#this code is to define a functo  to square

def squared(x):
    f = lambda x: x+2
    a=f(x)
    return a**2

In [45]:
squared(4)

36

# Defining Functions

In [54]:
b=[10,20,30,33]
c=[2,3,4,5]

In [55]:
mod = lambda x,y: x**y

In [56]:
print(b)

[10, 20, 30, 33]

In [59]:
f=list(map(mod,b,c))

In [60]:
print(f)

[100, 8000, 810000, 39135393]

In [61]:
prod2 = lambda x: x>1000

In [63]:
prod2(5000)

True

In [64]:
f=list(filter(prod2,f))

In [65]:
print(f)

[8000, 810000, 39135393]

In [66]:
def last_name_finder(*lists):
    return lists[2]

In [67]:
last_name_finder('Abrar','Ahmed',5000,'abrar.ahmed@front.com','585670',1000)

5000

In [68]:
c=last_name_finder('Abrar',2,3,4,5,6)

In [69]:
c*2

6

In [55]:
def return_email(**keywords):
    return keywords['email']

In [56]:
def calculate_sales(**keywords):
    return (keywords['price']*keywords['qty'],keywords['Name'])

In [93]:
ad=calculate_sales(Name='Abrar',last_name='Ahmed',bought='milk',price=90,qty=3,City='Karachi',Country='Pakistan')

In [57]:
ad2=return_email(name='Abrar',city='abrar.agha@frontiertechnologyinstitute.com',email='Karachi',country='Pakistan')

In [99]:
print(ad,ad2)

(270, 'Abrar') Karachi

In [102]:
def mod5(**keywords):
    return keywords['number']**keywords['power']

In [104]:
mod5(power=2,number=3,real=45,random=24)

9

In [105]:
def cal_sales(price,qty):
    return price*qty

In [83]:
cal_sales(3,2)

6

In [80]:
print(ad)

(270, 'Abrar')

email:abrar.agha@frontiertechnologyinstitute.com

In [10]:
d=list(range(10,20))

In [11]:
print(d)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [15]:
List1=list(range(5,15))
List2=list(range(15,25))

In [18]:
len(List1)

10

In [24]:
print(List1)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [29]:
for i in range(len(List1)):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
for i in range(len(List1)):
    print(List1[i]+List2[i])

20
22
24
26
28
30
32
34
36
38

In [35]:
w=['Abrar','Ahmed']

In [39]:
for i in w:
    for j in i:
        print(j)

A
b
r
a
r
A
h
m
e
d